body {
	margin: 0;
	padding: 0;
	color: #eceff4;
}


#mapid, html, body, .map-wrapper{
	height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.sidebar {
	background-color: #2e3440;
  padding: 10px;
  border: 2px #5e81ac solid;
  position: relative;
}

select {
  -webkit-appearance: none;
	margin: 15px;
	background-color: #2e3440;
	border: none;
	box-shadow: 2px 2px 5px 1px #14161c;
	color: #eceff4; 
	font-size: 1.10rem;
	border-radius: 5px;
	padding: 5px;
	-moz-appearance: none;
}

#source {
  color: #eceff4;
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  margin: 15px;
}


.map-wrapper {
  position: relative;
}

button {
  padding: 5px;
  font-size: 1.10rem;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #2e3440;
  border: none;
  border-radius: 5px;
  z-index: 1000;
  color: #eceff4;
}



